<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407233283887-c6fc83tbfq2isru2j4vne9knuf6q1gbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407233283887-c6fc83tbfq2isru2j4vne9knuf6q1gbb</string>
	<key>API_KEY</key>
	<string>AIzaSyDeZAOTDWcCOLH_OsKJdqxWfRqc1z7K_wc</string>
	<key>GCM_SENDER_ID</key>
	<string>407233283887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zizlak.PhoneAuth</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-2bfe0</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-2bfe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407233283887:ios:dc7dc4581a0d3ba1d603da</string>
	<key>DATABASE_URL</key>
	<string>https://phoneauth-2bfe0.firebaseio.com</string>
</dict>
</plist>